on:
  workflow_call:
    inputs:
      GODOT_VERSION:
        description: 'The godot version string'
        required: true
        type: string
      EXPORT_TEMPLATE_VERSION:
        description: 'The godot export template version string'
        required: true
        type: string
      GODOT_CACHE_KEY:
        description: 'The cache key for the godot installation'
        required: true
        type: string
      GODOT_REPO:
        description: 'The repository to download godot from'
        required: true
        type: string

jobs:
  cache_godot:
    name: "Setup Godot Cache"
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/cache@v4
        id: cache
        with:
          path: godot
          enableCrossOsArchive: true
          key: ${{ inputs.GODOT_CACHE_KEY }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip

      - name: download and extract godot linux executable
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/${{ inputs.GODOT_REPO }}/releases/download/${{ inputs.GODOT_VERSION }}/Godot_v${{ inputs.GODOT_VERSION }}_linux.x86_64.zip
          unzip Godot_v${{ inputs.GODOT_VERSION }}_linux.x86_64.zip
          mkdir godot
          mv Godot_v${{ inputs.GODOT_VERSION }}_linux.x86_64 godot/godot_linux
          chmod +x godot/godot_linux

      - name: download and extract godot windows executable
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/${{ inputs.GODOT_REPO }}/releases/download/${{ inputs.GODOT_VERSION }}/Godot_v${{ inputs.GODOT_VERSION }}_win64.exe.zip
          unzip Godot_v${{ inputs.GODOT_VERSION }}_win64.exe.zip
          mv Godot_v${{ inputs.GODOT_VERSION }}_win64.exe godot/godot_win64.exe
          mv Godot_v${{ inputs.GODOT_VERSION }}_win64_console.exe godot/godot_win64_console.exe

      - name: download and extract godot mac executable
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/${{ inputs.GODOT_REPO }}/releases/download/${{ inputs.GODOT_VERSION }}/Godot_v${{ inputs.GODOT_VERSION }}_macos.universal.zip
          unzip Godot_v${{ inputs.GODOT_VERSION }}_macos.universal.zip
          mv Godot.app godot/Godot.app

      - name: download and extract godot templates
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          wget https://github.com/${{ inputs.GODOT_REPO }}/releases/download/${{ inputs.GODOT_VERSION }}/Godot_v${{ inputs.GODOT_VERSION }}_export_templates.tpz
          unzip Godot_v${{ inputs.GODOT_VERSION }}_export_templates.tpz
          mkdir godot/export_templates
          mv templates godot/export_templates/${{ inputs.EXPORT_TEMPLATE_VERSION }}

      - name: generate api bindings
        run: godot/godot_linux --headless --dump-extension-api --dump-gdextension-interface

      - name: create an artifact with the api bindings
        uses: actions/upload-artifact@v4
        with:
          name: gd_extension_api
          path: |
            extension_api.json
            gdextension_interface.h
