on: 
  push:
    branches:
      - main
      - alpha
      - 4.3_update

jobs:
  compile_and_export_game:
    uses: ./.github/workflows/compile_and_export_all.yaml
    secrets: inherit
    with:
      GODOT_VERSION: '4.3-rc2'
      GODOT_REPO: 'https://github.com/godotengine/godot-builds'

  create_release:
    needs: [ compile_and_export_game ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: '0'
      
      - name: Bump version and push tag
        id: bump
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: false
          DEFAULT_BUMP: patch
          TAG_CONTEXT: branch

      - name: Download extension artifacts
        uses: actions/download-artifact@v4
        with:
          name: extensions
          path: bin

      - name: create an extensions build archive
        run: zip -r extension.zip bin

      - name: Download the export artifacts
        uses: actions/download-artifact@v4
        with:
          name: game_exports
          path: build

      - name: Create the release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.bump.outputs.new_tag }}
          generate_release_notes: true
          prerelease: ${{ github.ref_name == '4.3_update' }}
          files: |
            extension.zip
            build/*
            LICENSE
